body {
    background-color: #1C4E68;
}

#col-left {
    position: fixed;
    background-color: #360D0D;
    top: 0;
    height: 100%;
}

.input-form {
    border: none;
    border-bottom: 2px solid #1C4E68;
    border-radius: 0px;
    background-color: #360D0D;
    width: 95%;
    margin-left: 12px;
    color: rgba(255, 255, 255, 0.5);
    font-family: "Montserrat";
    padding-bottom: 0px;
}

.input-form[type=text]:focus {
    border: none;
    border-bottom: 3px solid #1C4E68;
    box-shadow: none;
    color: white;
    font-family: "Montserrat";
    background-color: #360D0D;
}

#logo {
    width: 100%;
}

label {
    color: white;
    font-family: "Montserrat";
    font-size: 20px;
    
    bottom: 0;
}

.input-form[type=date]:focus {
    border: none;
    border-bottom: 3px solid #1C4E68;
    box-shadow: none;
    color: white;
    font-family: "Montserrat";
    background-color: #360D0D;
}

.input-form[type=text]::placeholder {
    box-shadow: none;
    color: rgba(255, 255, 255, 0.5);
}

select {
    margin-top: 12px;
    display: block;
    width: 95%;
    margin-left: 15px;
    padding-left: 6px;
    border: none;
    border-bottom: 3px solid #1C4E68;
    box-shadow: none;
    color: rgba(255, 255, 255);
    font-family: "Montserrat";
    background-color: #360D0D;
}

.limgs {
    width: 12%;
    right: 0;
}

#puzzle {
    padding-bottom: 7px;
}

#btnAdd {
    border-radius: 250px;
    border: none;
    width: 20%;
    font-size: 17px;
    background-color: #1C4E68;
    color:white;
}

#rowBody {
    width: 76%;
}

#header {
    font-family: "Montserrat";
    font-weight: bold;
    color: #360D0D;
}

#agenda {
    background-color: white;
    width: 100%;
}

th {
    background-color: #360D0D;
    color: white;
    text-align: center;
}

td {
    font-family: "Montserrat";
    text-align: center;
    font-size: 25px;
}

#containerBody {
    background-color: #FBFCDE;
    width: 80%;
    margin-left: 10%;
    height: 100vh;
}

.invalid-feedback {
    color: yellow;
    margin-left: 12px;
}

#btnDelete {
    background-color: rgb(185, 12, 12);
    border-radius: 1000px;
    color: white;
    margin-left: 20px;
}

#btnEdit {
    background-color: #1C4E68;
    border-radius: 1000px;
    color: white;
}

#sortLabel {
    color: #360D0D;
}

#btnDL, #btnName {
    background-color: #360D0D;
    border-radius: 1000px;
    color: white;
    margin-bottom: 10px;
}

#btnDL {
    margin-left: 10px;
}
